{% extends "recipes/base.html" %}

{% block extra_head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
{% endblock %}

{% block content %}

<a href="{% url 'recipes:list' %}" type="button" class="btn btn-primary mb-2"><img src="../../../media/back.svg"
        style="padding-bottom: 2px" width="17px" class="me-1" />Back to recipes</a>

<div style="display: flex; flex-direction: column; background-color: #ffc17b; border-radius: 15px; padding: 2rem;">

    <div>
        <h1 style="font-size: 2.75rem; font-weight: bold; margin-bottom: 1rem;">{{object.name}}</h1>
    </div>

    <div class="d-flex details-container">

        <img src="{{object.image.url}}" class="recipe-img" />


        <div style="display: flex; flex-direction: column; justify-content: center; margin-left: 1rem">
            <p style="font-size: 1.25rem; margin: 0;">
                {% if recipe.description != "N/A" %}
                <span>{{ recipe.description }}</span>
                {% else %}
                <span style="opacity: 0.75; font-size: 1.5rem;">No description available.</span>
                {% endif %}
            </p>

            <hr style="margin: 0.5rem 0;" class="bg-primary border-1 border-top border-primary" />

            <div>
                <div class="d-flex align-items-center">
                    <div style="width: 16px;" class="d-flex justify-content-center">
                        <i class="fas fa-clock" aria-hidden="true"></i>
                    </div>
                    <span class="ms-1">{{ recipe.cooking_time }} minutes</span>
                </div>
                <div class="d-flex align-items-center">
                    <div style="width: 16px;" class="d-flex justify-content-center">
                        <i class="fas fa-star" aria-hidden="true"></i>
                    </div>
                    <span class="ms-1">{{ recipe.difficulty }}</span>
                </div>
                <!-- "Submitted by" -->
                <div class="d-flex align-items-center">
                    <div style="width: 16px;" class="d-flex justify-content-center">
                        <i class="fas fa-user" aria-hidden="true"></i> <!-- FontAwesome User Icon -->
                    </div>
                    <span class="ms-1">{{ object.submitted_by.username }}</span>
                </div>

                <!-- "Submitted on" -->
                <div class="d-flex align-items-center">
                    <div style="width: 16px;" class="d-flex justify-content-center">
                        <i class="fas fa-calendar" aria-hidden="true"></i> <!-- FontAwesome Calendar Icon -->
                    </div>
                    <span class="ms-1">{{ object.submitted_on|date:"F d, Y" }}</span>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="instructions-container d-flex justify-content-evenly">

    <div class="p-2 m-3 slide-in">
        <h3 class="fw-bold">Ingredients:</h3>
        {% if object.ingredients.all %}
        <ul>
            {% for ingredient in object.ingredients.all %}
            <li style="font-size: 1.1rem;" class="p-1">{{ ingredient.quantity }} {{ ingredient.name }}{% if ingredient.description %}, {{ ingredient.description }}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <span style="font-size: 1.1rem" class="opacity-75">No ingredients available.</span>
        {% endif %}
    </div>

    <div class="p-2 m-3 slide-in">
        <h3 class="fw-bold">Instructions:</h3>

        {% if object.steps.all %}
        <ul style="max-width: 500px" class="p-0">
            {% for step in object.steps.all %}
            <li style="font-size: 1.15rem; list-style-type: none;" class="p-1">
                <h5 class="fw-bold">Step {{ step.order }}</h5>
                <p style="margin-left: 0.5rem;">
                    {{ step.instructions }}
                </p>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <span style="font-size: 1.1rem" class="opacity-75">No instructions available.</span>
        {% endif %}
    </div>

</div>

{% endblock %}


{% block extra_js %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const slideInElements = document.querySelectorAll('.slide-in');

        slideInElements.forEach((element, index) => {
            // Set the animation delay
            element.style.animationDelay = `${index * 0.1}s`;

            // Add event listener to trigger animation when element comes into view
            element.addEventListener("animationstart", function () {
                this.style.opacity = 1; // Set opacity to 1 when animation starts
            });
        });
    });
</script>

{% endblock extra_js %}