{% extends "recipes/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-12 col-md-10 col-lg-8 mx-md-auto">
                <h2 class="mb-3">Submit a Recipe</h2>
                {{ form|crispy }}
            </div>

            <div class="col-12 col-md-10 col-lg-8 mx-md-auto">
                <h3>Ingredients</h3>
                <div id="ingredients-container">
                    {{ ingredientFormSet.management_form }}
                    {% for form in ingredientFormSet.forms %}
                    <div class="ingredient-form form-row">
                        {{ form|crispy }}
                        <div class="delete-checkbox">
                            {{ form.DELETE }} <!-- Or whatever your template code is for the checkbox -->
                        </div>
                    </div>
                    {% endfor %}
                    <button type="button" id="add-ingredient" class="btn btn-success mb-3">Add Ingredient</button>
                </div>

                <h3>Steps</h3>
                <div id="steps-container">
                    {{ stepFormSet.management_form }}
                    {% for form in stepFormSet.forms %}
                    <div class="step-form form-row">
                        {{ form|crispy }}
                    </div>
                    {% endfor %}
                    <button type="button" id="add-step" class="btn btn-success mb-3">Add Step</button>
                </div>
            </div>

            <div class="col-12 col-md-3 col-lg-2 mx-md-auto form-group">
                <button type="submit" class="d-block btn btn-primary w-100">Submit Recipe</button>
            </div>
        </form>
    </div>
</div>

<!-- Hidden templates for cloning, outside the main form UI -->
<div id="empty-ingredient-form" style="display:none;">
    {{ ingredientFormSet.empty_form|crispy }}
</div>

<div id="empty-step-form" style="display:none;">
    {{ stepFormSet.empty_form|crispy }}
</div>

{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
$(document).ready(function() {
    var ingredientFormIndex = $('#id_ingredients-TOTAL_FORMS').val();
    var stepFormIndex = $('#id_steps-TOTAL_FORMS').val();

    // Function to update headings
    function updateHeadings(container) {
        $('#' + container + '-container .form-row').each(function(index) {
            $(this).find('strong').remove(); // Remove the existing heading to prevent duplication
            var formLabel = $('<strong>').text(container.slice(0, -1).charAt(0).toUpperCase() + container.slice(1, -1) + ' ' + (index + 1));
            $(this).prepend(formLabel);
        });
    }

    // Update headings for initial forms
    updateHeadings('ingredients');
    updateHeadings('steps');

    // Function to add form dynamically
    function addForm(btn, container, formIndex) {
        var newForm = $('#empty-' + container + '-form').clone(true);
        newForm.html(newForm.html().replace(/__prefix__/g, formIndex));
        newForm.attr('id', '').attr('style', '');
        newForm.insertBefore($(btn));
        var formLabel = $('<strong>').text(container.slice(0, -1).charAt(0).toUpperCase() + container.slice(1) + ' ' + (Number(formIndex)+1));
        newForm.prepend(formLabel);
        return newForm;
    }

    // Add ingredient
    $('#add-ingredient').click(function() {
        var newForm = addForm(this, 'ingredient', ingredientFormIndex);
        ingredientFormIndex++;
        $('#id_ingredients-TOTAL_FORMS').val(ingredientFormIndex);

        // Only add the remove button for newly added forms
        if (ingredientFormIndex > 1) {
            var removeButton = $('<button type="button" class="btn btn-danger mb-3">Remove</button>'); // Added mb-3 for margin-bottom
            removeButton.click(function() {
                $(this).parent().remove();
                ingredientFormIndex--;
                $('#id_ingredients-TOTAL_FORMS').val(ingredientFormIndex);
                updateHeadings('ingredients'); // Update headings to reflect the new order
            });
            newForm.append(removeButton);
        }
    });

    // Add step
    $('#add-step').click(function() {
        var newForm = addForm(this, 'step', stepFormIndex);
        stepFormIndex++;
        $('#id_steps-TOTAL_FORMS').val(stepFormIndex);

        // Only add the remove button for newly added forms
        if (stepFormIndex > 1) {
            var removeButton = $('<button type="button" class="btn btn-danger mb-3">Remove</button>'); // Added mb-3 for margin-bottom
            removeButton.click(function() {
                $(this).parent().remove();
                stepFormIndex--;
                $('#id_steps-TOTAL_FORMS').val(stepFormIndex);
                updateHeadings('steps'); // Update headings to reflect the new order
            });
            newForm.append(removeButton);
        }
    });
});
</script>
{% endblock %}
