{% extends "recipes/base.html" %}

{% block content %}

<a href="{% url 'recipes:list' %}" type="button" class="btn btn-primary mb-2"><img src="../../../media/back.svg"
        style="padding-bottom: 2px" width="17px" class="me-1" />Back to recipes</a>

<div style="display: flex; background-color: #ffc17b; border-radius: 15px; padding: 2rem;">
    <div>
        <h1 style="font-size: 2.75rem; font-weight: bold; margin-bottom: 1rem;">{{object.name}}</h1>

        <img src="{{object.image.url}}" width="350" />
    </div>

    <div style="display: flex; flex-direction: column; justify-content: center; margin-left: 1rem">
        <p style="font-size: 1.5rem; margin: 0;">
            {% if recipe.description != "N/A" %}
            {{ recipe.description }}
            {% else %}
            <span style="opacity: 0.75;">No description available.</span>
            {% endif %}
        </p>

        <hr style="margin: 0.5rem 0;" class="bg-primary border-1 border-top border-primary" />

        <div>
            <img src="../../../media/cooking_time.png" height="20px" /> {{ recipe.cooking_time }} minutes <br>
            <img src="../../../media/difficulty-bigger.png" height="20px" /> {{ recipe.difficulty }}
        </div>
    </div>

</div>



</div>

<div class="d-flex justify-content-evenly">

    <div class="p-2 m-3 slide-in">
        <h3 class="fw-bold">Ingredients:</h3>
        <ul>
            {% for ingredient in object.ingredients.all %}
            <li style="font-size: 1.1rem;" class="p-1">{{ ingredient.quantity }} {{ ingredient.name }}{% if ingredient.description %}, {{ ingredient.description }}
                {% else %}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="p-2 m-3 slide-in">
        <h3 class="fw-bold">Instructions:</h3>

        {% if object.steps.all %}
        <ul style="max-width: 500px" class="p-0">
            {% for step in object.steps.all %}
            <li style="font-size: 1.15rem; list-style-type: none;" class="p-1">
                <h4>Step {{ step.order }}</h4>
                <p style="margin-left: 0.5rem;">
                    {{ step.instructions }}
                </p>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <span style="font-size: 1.1rem" class="opacity-75">No instructions available.</span>
        {% endif %}
    </div>

</div>


{% endblock %}